* {
    margin: 0;
    padding: 0;
}

form {

    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.input_search {
    height: 30px;
    width: 30%;
    margin-right: 4%;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
}

.btn_sbmit {
    background-color: #0483a0;

    border: 1px solid #00748f;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    color: #fafafa;
    cursor: pointer;
    height: 37px;
    float: right;
    font-size: 1em;
    padding: 0;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

.items {
    margin-left: 3%;
}

.items table {
    margin-top: 4%;

}
.search_result{
    position: relative;
}

ul.pagination {
    margin-top: 5%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

table {
    border-collapse: collapse;
    width: 500px;
}

td,
th {
    padding: 10px;
}

th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

td {
    color: #636363;
    border: 1px solid #dddfe1;
}

tr {
    background-color: #f9fafb;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.pagination {
    list-style-type: none;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.pagination li {
    box-sizing: border-box;
    padding-right: 10px;
}

.pagination li a {
    box-sizing: border-box;
    background-color: #e2e6e6;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #616872;
    border-radius: 4px;
}

.pagination li a:hover {
    background-color: #d4dada;
}

.pagination .next a,
.pagination .prev a {
    text-transform: uppercase;
    font-size: 12px;
}

.pagination .currentpage a {
    background-color: #518acb;
    color: #fff;
}

.pagination .currentpage a:hover {
    background-color: #518acb;
}